.home-title{
    margin-left: 50px;
    font-size: 900;
    color: rgb(243, 188, 188);;
}
.activities{
    margin-left: 50px;
    font-size: 900;
}

.home-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.right-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
    margin-top: 30px;
}

.left-side {
    background-color: rgb(247, 234, 234);
    height: 600px;
    margin-top: 30px;
    margin-right: 20px;
    border-radius: 10px;

}
/* .left-cart{
    display: flex;
}
.left-side img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 50%;
}
.cart-details{
   margin-left: 20px;
   line-height: 0.6;
    
}
.right-cart{
    display: flex;
    margin-left: 30px;
    margin-top: 15px;
    width: 300px;
    height: 50px;
    justify-content: space-evenly;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow:1px 1px 1px 1px rgb(170, 164, 164);
    padding-bottom: 10px;
    
}
.break-title{
    text-align: center;
}
.exercise-time{
   display: flex;
   margin-left: 30px;
   width: 300px;
    height: 50px;
    justify-content: space-evenly;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px 1px rgb(170, 164, 164);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.btn{
   
    margin-left: 40px;
    margin-top: 20px;
    width: 80%;
    padding: 10px;
    background-color: rgb(243, 188, 188);
    border-radius: 5px;
    border: 0;   

}
.btn:hover {
    background-color: orange;
}
.btn p {
    margin-right: 5px;
}
.break-btn{
    border-radius: 50%;
    border: 0;
    padding: 10px;
    margin-top: 10px;
} */

@media screen and (max-width:1100px) {
    .right-side {
        grid-template-columns: repeat(2, 1fr);
    }

}