.home-title{
    margin-left: 50px;
    font-size: 900;
    color: rgb(243, 188, 188);;
}
.activities{
    margin-left: 50px;
    font-size: 900;
}

.home-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.right-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
    margin-top: 30px;
}

.left-side {
    background-color: rgb(247, 234, 234);
    height: 600px;
    margin-top: 30px;
    margin-right: 20px;
    border-radius: 10px;

}


@media screen and (max-width:1100px) {
    .right-side {
        grid-template-columns: repeat(2, 1fr);
    }

}